.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 0;
    flex-basis: 100%;
}

.places h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
}

.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 60px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    float: right;
    text-align: center;
    margin-top: -80px;
    line-height: 60px;
    white-space: nowrap;
}

.max_guest {
    background-image: url("../images/max_guest.png");
}

.number_rooms {
    background-image: url("../images/number_rooms.png");
}

.number_bathrooms {
    background-image: url("../images/number_bathrooms.png");
}

.user {
    margin: 20px 0px 5px 0px;
}