.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places h1 {
    font-size: 30px;
    text-align: left;
    margin-bottom: 0;
    flex-basis: 100%;
}

.places h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
    position: relative;
    z-index: -1;
}

.price_by_night {
    color: #ff5a5f;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    white-space: nowrap;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: row;
    height: auto;
    width: auto;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-top: 10px;
}

.information div {
    position: relative;
    margin-top: 3px;
    width: 100px;
}

<<<<<<< HEAD
.max_guest {
    background-image: url("../images/max_guest.png");
}

.number_rooms {
    background-image: url("../images/room_rooms.png");
}

.number_bathrooms {
    background-image: url("../images/room_bathrooms.png");
=======
/*.max_guest, .number_bathrooms, .number_rooms {
    width: 100px;
}*/

.icon_group {
    background: url("../images/icon_group.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.icon_bed {
    background: url("../images/icon_bed.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.icon_bath {
    background: url("../images/icon_bath.png") no-repeat center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.user p {
    text-align: left;
    justify-self: flex-start;
    font-size: 16px;
}

.description p {
    font-size: 14px;
    text-align: left;
>>>>>>> e19350d174b9303a0bce72d5f07369cb5cbdb494
}

.max_guest > p, .number_rooms > p, .number_bathrooms > p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 14px;
}
